[submodule "docs/ukadoc"]
	path = docs/ukadoc
	url = https://github.com/ukatech/ukadoc.git
[submodule "docs/aosora-wiki"]
	path = docs/aosora-wiki
	url = https://github.com/kanadelab/aosora-shiori.wiki.git
[submodule "docs/yaya-docs"]
	path = docs/yaya-docs
	url = https://github.com/YAYA-shiori/yaya-docs.git
